<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>About Harvey</title>
	</head>
	<body>
		<h2>Summary</h2>
		Hurricane Harvey was a Category 4 Hurricane that hit Gulf Coast in late August.
		The storm originated in the Western African coast and made its passage east passing through the Caribbean.
		It became a Tropical Storm as it passed hitting the Lesser Antilles, which sustained heavy rain and gusty winds.
		It eventually landed in the Yucutan Peninsula and weakened to a depression while managing to get back into the water. 
		Within 56 hours, the storm escalated from a Tropical Depression into a Category 4 Hurricane as it made it landfall in Texas on August 25th.
		It took 117 hours for the storm to slow down and weakned to Tropical Depression as it made it slowly moved northeast towards Louisiana.
		Within that time frame Harvey caused catastrophic flooding and set numerous records for a Texas hurricane. 
		The flooding was one of the country’s worst weather disaster as it destroyed many homes and businesses.
		It is estimated that Harvey will be the most costliest weather related disaster in the United States with $190 billion dollars, according to the National Oceanic and Atmospheric Administration(NOAA).
		<!---I summarized how the storm affected Texas as a whole, not each individual area, not sure if i should more content--->
		
		
		<a href="https://weather.com/storms/hurricane/news/tropical-storm-harvey-forecast-texas-louisiana-arkansas">Learn More</a> <!--It has more numbers and figure related to the storm, not sure if we should add this--->
		
	</body>
</html>

