<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>About Us</title>
	</head>
	<body>
		<link 
		href="aboutus.css" type="text/css" rel="stylesheet">
		<h2>About Us</h2>
		
			<div class = "andy">
			<h3>Andy Cruz</h3>
			<p>
		I'm on my final semester of my undergrad majoring in GIS, with a minor in geology.
		I'm excited for graduation and will remain working at Apple until I find a position as a GIS Analyst backin Houston.
		I plan to return for my masters after a couple of years in the field.
			</p>
			</div>
		
		<div class = "image1">  <!---made a div for every picture just in case we wanted to place the images specifically-->
			<img src= "IMG_6429.jpg" style="width:300px;height:450px;" />
		</div>

			<div class = "abdul">
			<h3>Abdullatif Alyaqout</h3>
			<p>
		I’m a 2nd year Master of Science Student at the Geography Department, Texas State University.
        I received my Bachelor of Art in Geography from Kuwait, where I’m from. I’m interested in
        Maps and Cartography in general, and how to explore spatial data through Geovisualization and
        using Geovisual Analytics. I’m currently focusing on visualizing social media and
        crowdsourced data for mapping inundation surfaces caused by flood events.
			</p>
			</div>
		
		<div class = "image2"> <!---made a div for every picture just in case we wanted to place the images specifically-->
			<img src= "IMG_6429.jpg" style="width:300px;height:400px;" /> <!-- i used my picture since melissa was the only one to post hers, i used mine for visual purposes-->
		</div>
		
			<div class = "nicole">
			<h3>Nicole Thorly</h3>
			<p>
        I am a Master’s Student at Texas State University focusing on Geographic Information
        Systems (GIS), Information Visualization and Cartography. I have a bachelor’s degree
        from the University of Texas at Austin in Fine Arts. I am researching how data
        collected from eye tracking devices can be improved through the application of
        game-design elements and principles.
   		 	</p>
			</div>
		
		<div class = "image3"> <!---made a div for every picture just in case we wanted to place the images specifically-->
			<img src= "IMG_6429.jpg" style="width:300px;height:400px;" />
		</div>

			<div class = "melissa">
			<h3>Melissa Jurrens</h3>
			<p>
        I am a Master's Student focusing in GISciences at Texas State University, which is also
        where I received my Bachelor's of Science in Geography focusing on Environment and
        Resource Management Studies. Go Bobcats! Currently, I intern with the Texas Division
        of Emergency Management supporting the Critical Information Systems GIS Team during
        disaster activations.
   			 </p>
			</div>
			
		<div class = "image4"> <!---made a div for every picture just in case we wanted to place the images specifically-->
			<img src= "MJ1.jpg" style="width:300px;height:400px;" />
		</div>


	</body>
</html>

