<h1>About Hurricane Harvey</h1>
<div class="harvey-content">
    Hurricane Harvey was a Category 4 Hurricane that hit the Texas Gulf Coast in late August, 2017.
    The storm originated in the coast of Western Africa and made its passage east through the Caribbean.
    It became a Tropical Storm moving through the Lesser Antilles, which sustained heavy rain and gusty winds.
    It eventually landed in the Yucutan Peninsula and weakened to a depression. Within 56 hours, the storm escalated from a Tropical Depression into a Category 4 Hurricane as it made landfall in Texas on August 25th.
    It took 117 hours for the storm to slow down and weaken to a Tropical Depression as it slowly moved northeast towards Louisiana.
    Within that time frame Harvey caused catastrophic flooding and set numerous records for a Texas hurricane.
    The flooding was one of the country’s worst weather disasters.
    It is estimated that Harvey is the most costly weather related disaster in the United States costing $190 billion dollars, according to the National Oceanic and Atmospheric Administration.
    <img class="hurricane" src="images/harveySatellite.jpg">
    <br><a href="https://weather.com/storms/hurricane/news/tropical-storm-harvey-forecast-texas-louisiana-arkansas">Learn More</a> <!--It has more numbers and figure related to the storm, not sure if we should add this--->
</div>
