<h1>Crowd-Sourced Photography</h1>
<div class="map-description">This map shows the spatial distribution of pictures taken from the crowd and shared in different platforms during the disaster event. Check the box to create a spatial cluster visualization of the pictures on the map and find places where pictures are taken the most. Click on a point to see the picture taken by the crowd and explore the damage magnitude caused by the hurricane.</div>
<div class="harvey-map-container">
    <div id="photo-cluster-map-container"></div>
    <div id="photo-cluster-legend-container">
        <div id="photo-cluster-legend"></div>
        <input type="checkbox" id="use-clustering" checked> Use clustering?<br><br>
    </div>
</div>
