<h1>Depth Grid Zonal Statistics</h1>
<div class="map-description">The map displays depth grid data modeled by FEMA representing water levels after the hurricane. Click the summarize population button to create a polygon around any area desired and find out the population summary in that area. You can search for a specific place using the search bar.</div>
<div class="harvey-map-container">
    <i class="fa fa-spinner fa-spin"></i>
    <div id="zonal-stats-search"></div>
    <div id="zonal-stats-container"></div>
    <div id="zonal-stats-info" class="esriSimpleSlider">
        <div data-dojo-type="dijit.form.Button" id="drawPoly">
            Summarize Population
        </div>
        Click <b>Summarize Population </b> button to create a polygon around the inundated areas for population summary.
    </div>

    <div data-dojo-type="dijit.Dialog" id="dialog1" title="Population Summary"></div>
</div>