* {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #4BEDD3;
}

.emphasize {
    font-weight: bold;
}

.leftnav {
    position: fixed;
    width: 20%;
    height: 100%;
    text-align: center;
    background-color: #80BFB7;
    color: #003B55;
}

.leftnav h1 {
    display: inline-block;
    background-color: #80BFB7;
    color: white;
}

.leftnav img {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.leftnav .nav-button-container {
    height: auto;
    cursor: pointer;
    font-size: 16px;
    line-height: 36px;
    border-top: 1px solid white;
}

.leftnav .nav-button-container .nav-button {
    height: 0;
    opacity: 0;
        -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.leftnav .nav-button-container .title,
.leftnav .nav-button-container.open .nav-button {
    opacity: 1;
    height: 40px;
}

.leftnav .nav-button-container:last-child {
    border-bottom: 1px solid white;
}

.leftnav .nav-button-container.open {
    color: #0B87A1;
    font-weight: 700;
}

.leftnav .nav-button-container:hover {
    background-color: white;
    color: #01597F;
    font-weight: 700;
}

.leftnav .nav-button:hover {
    background-color: #F3FDFF;
    font-weight: 700;
}

#main-container {
    position: relative;
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: white;
    color: black;
}

#main-container > h1, .leftnav h1 {
    margin: 0;
    line-height: 75px;
    height: 75px;
}

#main-container > h1 {
    padding: 0 30px;
    border-bottom: 1px solid #0B87A1;
}