#photo-cluster-map-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#photo-cluster-legend-container {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    background-color: whitesmoke;
    padding: 8px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#photo-cluster-map-container img {
    width: 100%;
}